.yearChange {
  display: flex;
  align-items: center;
  width: 95%;
}

#yearSlider {
  width: 360%;
}

#yearForm {
  padding: 20px;
  width: 80%;
}

body {
  font-family: sans-serif;
}

#chartTitle {
  text-align: center;
}

#leftSideTitle {
  float: left;
  width: 50%;
}

#rightSideTitle {
  float: left;
  width: 45%;
  text-align: right;
}

#pathwaysChart {
  height: 1000px;
  padding-right: 6em;
}

svg {
	height: 1800px;
}

#careerLink a {
	text-decoration: none;
}

#careerLink > div {
	width: 100%;
	position: absolute;
}

#careerLink div .pathwaysLink {
	font-size: 0.6em;
	line-height: 0.9em;
	position: absolute;
	margin: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	
}

g {
	height: 100%;
	width: 100%;	
}

path {
  margin-top: 10px;
  /*stroke-width: 5 !important; how to change line heights*/
}

.node rect {
  fill-opacity: .4;
  shape-rendering: crispEdges;
  /*height: 25;*/
}

.node.clickable {
  cursor: pointer;	
}

.node.clickable:hover rect {
  fill-opacity: 0.9;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 0.75em;
}

.link {
  fill: none;
  stroke-opacity: .3;
}

.link.clickable {
  cursor: pointer;	
}

.link.clickable:hover {
  stroke-opacity: .5;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
